.load-file {
    max-width: 1049px;
    width: 100%;
    margin: 20px auto;
    background: #fafafa;
    border: 1px solid #04040430;
    border-radius: 5px;
    padding: 20px;
}

.load-file hr {
    margin-top: 25px;
}

.load-file .file-input-block {
    text-align: center;
    display: block;
}

.load-file .setting .title-setting {
    text-align: center;
    font-size: 21px;
    margin-bottom: 20px;
}
.table-bordered {
    margin: auto
}

.is-selected {
    background-color: #7957d5;
    color: #fff;
}
.basket {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;

    overflow-x: hidden;
    background: #323232;
    font-family: Times New Roman;

    max-width: 300px;
}

.basket__title, .list__item, .basket__sum {
    color: #fff;
}

.basket__title {
    font-size: 26px;
    padding: 10px
}

.basket__list {
    padding-left: 25px;
}

.list__item {
    padding: 10px;
}

.item__name, .basket__sum p {
    font-size: 20px;
}

.list__item, .item__counter, .basket__sum {
    align-items: center;
    justify-content: space-between;
}

.counter__num {
    background: #C4C4C4;
    width: 60px;
    height: 25px;
    align-items: center;
    justify-content: center;
    margin: 0 5px;
}

.counter__sub, .counter__add {
    font-size: 36px;
    cursor: pointer;
}

.closeOffcanvas {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: #fff;
}

.basket__sum {
    padding: 0 10px 0 35px;
}

.sum__count {
    background: #c4c4c4;
    width: 100px;
    height: 25px;
}

.sum__button {
    background: #FF6B00;
    height: 25px;
    width: 80px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}

.pop-up-window {
    animation: 0.7s ease 0s normal none 1 running pop-up-appear;
    position: relative;
}

.pop-up__form {
    position: relative;
    max-width: 400px;
    right: 0px;
    left: 0px;
    top: 40%;
    margin: 0px auto;
    background: #fff none repeat scroll 0% 0%;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
}

.pop-up__input, .pop-up__textarea {
    background: #C4C4C4;
    text-indent: 10px;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.pop-up__submit {
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    text-transform: uppercase;
    background: #FF6B00;
    font-weight: 600;
    cursor: pointer;
}

.pop-up-wrap{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}

.close-popup {
    position: absolute;
    width: 30px;
    height: 30px;
    background-image: url(../img/icons/cross.svg);
    background-size: 100%;
    top: -40px;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 10px #fff;
    box-shadow: 0 0 10px #fff;
    right: -40px;
    cursor: pointer;
}