body {
    background: #272727;
    min-height: 100%;
}
.flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

.flex_row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
}

.flex_column {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.button {
    cursor: pointer;
    outline: none;
}

.container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
}

.shop__header,
.header__container,
.footer__container,
footer {
    background: #000000;
}


/*header*/

.header__container {
    color: #ffffff;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 10px 0;
}

.header__phone,
.cart__text {
    color: #ffffff;
    font-family: Roboto;
    font-size: 24px;
}

.shop_name {
    font-family: Rambla;
    font-size: 64px;
}

.cart {
    background: #898989;
    border-radius: 25px;
    width: 175px;
    height: 43px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    cursor: pointer;
}

.cart__img {
    width: 43px;
    height: 26px;
}

@media (max-width:720px) {
    .header__container{
        flex-direction: column;
    }
}
/*меню*/

.shop__nav {
    display: block;
    position: relative;
}

.container-menu {
    width: 80%;
    margin: 0 auto;
}

.shop__nav:before,
.shop__nav:after {
    display: table;
    line-height: 0;
    content: "";
}

.core-menu {
    text-align: center;
    overflow: hidden;
}

.nav__main_link,
.nav__dropdown_link {
    font-family: Times New Roman;
    color: #CCCCCC;
}

.nav__main_link {
    font-size: 36px;
}

.nav__dropdown_link {
    font-size: 24px;
}

.core-menu li {
    list-style: none;
    display: inline-block;
    cursor: pointer;
}

.core-menu li a {
    display: inline-block;
    padding: 1em;
}

.core-menu li a:hover {
    background: #FF6B00;
}

li span.toggle {
    padding-left: 1em;
}

.toggle {
    background-image: url(../img/icons/dropdown.png);
    background-repeat: no-repeat;
}

.dropdown {
    position: absolute;
    width: 230px;
    background: #323232;
    text-align: left;
    display: none;
    z-index: 1000;
}

.dropdown li {
    display: block;
}

.dropdown li a {
    display: block;
}

.dropdown2 {
    position: absolute;
    width: 230px;
    background: #323232;
    text-align: left;
    display: none;
    right: -100%;
    top: 0;
}

.dropdown2 li {
    display: block;
}

.dropdown2 li a {
    display: block;
}

li span.toggle2 {
    position: absolute;
    right: 0;
    margin-right: 20px;
}

.hamburger-menu {
    padding: 1em;
    display: none;
    text-transform: uppercase;
    font-family: Times New Roman;
    color: #CCCCCC;
    font-size: 24px;
}


@media (max-width:720px) {
    .shop__nav {
        height: 50px;
    }
    .container-menu {
        width: 100%;
    }
    .navigation {
        float: left;
        display: block;
        width: 100%;
    }
    .core-menu {
        float: right;
        width: 100%;
        background: #1a1a1a;
        margin: auto;
        display: none;
    }
    .core-menu li {
        width: 100%;
        display: block;
    }
    .core-menu li a {
        display: block;
        margin: auto;
    }
    .hamburger-menu {;
        display: block;
        text-align: center;
        padding-right: 60px;
        float: none;
        position: relative;
    }
    .hamburger-menu p{
        top: 15px;
        position: absolute;
    }
    .burger-1,
    .burger-2,
    .burger-3 {
        display: block;
        position: absolute;
        width: 20px;
        height: 3px;
        border-radius: 30px;
        right: 0;
        margin-right: 25px;
        background: #fff;
        -webkit-transition: .2s ease;
        -o-transition: .2s ease;
        transition: .2s ease;
    }
    .burger-1 {
        top: 15px;
    }
    .burger-2 {
        top: 23px;
    }
    .burger-3 {
        top: 31px;
    }
    .burger-1.open,
    .burger-2.open,
    .burger-3.open {
        -webkit-transition: .2s ease;
        -o-transition: .2s ease;
        transition: .2s ease;
        -webkit-transform-origin: 50% 50%;
        -ms-transform-origin: 50% 50%;
        transform-origin: 50% 50%;
    }
    .burger-1.open {
        top: 25px;
        width: 23px;
        transform: rotate(45deg);
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
    }
    .burger-2.open {
        opacity: 0;
    }
    .burger-3.open {
        top: 25px;
        width: 23px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    .dropdown {
        width: 100%;
        background: #0e0e0e;
        text-align: center;
        position: relative;
    }
    .dropdown2 {
        right: 0;
        top: 0;
        width: 100%;
        position: relative;
        padding: 0 20px;
    }
}


/*каталог*/
.shop__title,.description__title{
    font-size: 36px;
    font-family: Times New Roman;
    color: #CCCCCC;
    text-align: center;
}
.description__title{
    margin-bottom: 30px;
}
.catalog,.description,.admin {
    width: 100%;
    max-width: 950px;
    -ms-flex-item-align: center;
    -ms-grid-row-align: center;
    align-self: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.catalog{
    margin-top: 65px;
}

.goods {
    margin: 5px;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 300px;
    min-height: 100%;
}

.goods__img {
    width: 100%;
    max-width: 300px;
}

.goods__name {
    font-family: Times New Roman;
    font-size: 36px;
    color: #FFFFFF;
    text-align: center;
    flex-grow: 1;
}
.goods__button{
    margin: 10px 0 50px 0;

}
.goods__button,.goods__button--admin,.admin__button_add{
    background: #FF6B00;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    cursor: pointer;
    flex-shrink: 0;
    -ms-flex-pack: distribute;
    justify-content: space-around;

}
.goods__button--admin{
    margin: 6px 0;

}
.button_change{
    width: auto;
    align-self: flex-start;
    padding: 0 15px;
}
.goods__button p,.goods__button--admin p,.goods__button--admin,.admin__button_add,
.goods__price {
    font-family: Times New Roman;
    font-size: 36px;
    color: #000000;
    padding: 5px 0;
}
@media screen and (max-width: 620px){
    .goods__img{
        max-width: 180px;
    }
    .goods__name,.goods__button p, .goods__price,.goods__button--admin,.goods__button--admin p{
        font-size: 24px;
    }
}
/*about us*/
.description{
    margin-top: 35px;
}
.description__text,.description__list{
    font-family: Times New Roman;
    font-size: 36px;
    color: #CCCCCC;
    margin: 12px 0;
}
@media screen and (max-width: 620px){
    .description__text,.description__list{
        font-size: 24px;
        padding: 0 10px;
    }
}
/*footer*/

.footer__container {
    width: 100%;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.footer__icons {
    margin: 35px 0 50px 0;
}

.footer__icon {
    margin: 0 8px;
}

/*admin*/
.admin{
    margin-top: 20px;
    font-size: 24px;
}
.admin__search{
    margin-bottom: 65px;
}
.admin__input,.search__button{
    border-radius: 10px;
    height: 30px;
}
.admin__input{
    background: #C4C4C4;
    max-width: 200px;
    text-indent: 10px;

}

.search__button{
    background: #FF6B00;
    cursor: pointer;
    padding: 0 5px;
}
.add_good__text{
    font-family: Roboto;
    color: #FFFFFF;
    min-width: 170px;
    margin-right: 15px;
}
.add_good__row{
    margin-bottom: 20px;
    flex-flow: row wrap;
}
.add_good__select{

    background: #C4C4C4;
}
.add_good__input{
    font-size: 18px;
    margin-right: 15px;

}
.admin__button_wrap{
    align-self: center;
}
@media screen and (max-width: 640px){
    .admin{
        width: 90%;
    }
    .add_good__row {
        flex-direction: column;
        align-items: flex-start;
    }
    .admin__input{
        margin: 10px 0;
    }
}
.add__image{
    width: 300px;
    height: 30px;
    background-color: #c4c4c4;
    position: relative;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
}
input[type='file'] {
    width:300px;
    height:30px;
    opacity:0
}
#val {
    width: 300px;
    height:30px;
    position: absolute;
    top: 0;
    left: 0;
    font-size:13px;
    line-height: 25px;
    text-indent: 10px;
    pointer-events: none;
}
#button {
    cursor: pointer;
    display: block;
    width: 90px;
    background-color: #ff6b00;
    height: 30px;
    border-radius: 10px;
    color: black;
    position: absolute;
    right: 0;
    top: 0;
    font-size: 14px;
    text-align: center;
    -webkit-transition: 500ms all;
    -moz-transition: 500ms all;
    transition: 500ms all;
}
